source https://api.nuget.org/v3/index.json

storage: none
framework: net5.0
nuget CommandLineParser
nuget Fluid.Core 2.0.0-beta-1013
nuget Fluid.ViewEngine 2.0.0-beta-1013
nuget Microsoft.Extensions.FileProviders.Physical
nuget SJP.FsNotify
nuget FSharp.Control.Reactive
nuget Westwind.AspnetCore.LiveReload