source https://api.nuget.org/v3/index.json

storage: none
framework: net5.0
nuget CommandLineParser
nuget DotLiquid
nuget Fake.IO.FileSystem
nuget Fluid.Core 2.0.0-beta-1012
nuget Fluid.MvcViewEngine 2.0.0-beta-1012
nuget Microsoft.Extensions.FileProviders.Physical
nuget Newtonsoft.Json