<!DOCTYPE html>
<html lang="en">

<head>
    <title>Feather Example</title>

    <!-- 
        Evaluate Tailwind CSS classes.
        cf. https://github.com/tw-in-js/twind/discussions/161#discussioncomment-535632
    -->
    <script type="text/javascript" crossorigin="anonymous" src="https://unpkg.com/twind@0.16.9/twind.umd.js"> </script>
    <script type="text/javascript" crossorigin="anonymous"
        src="https://unpkg.com/twind@0.16.9/observe/observe.umd.js"> </script>
    <script type="text/javascript">
        twindObserve.observe(document.documentElement)
    </script>
    <!-- End of Twind script -->
</head>

<body>
    <div class="container mx-auto">
        <header class="bg-purple-100 py-4 pl-4 mb-4 border-4">Feather Example</header>
        <div class="border-2 p-4">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>

</html>