<!DOCTYPE html>
<html lang="en" hidden>

<head>
    <title>Feather Example</title>
    <script type="module" src="https://cdn.skypack.dev/twind/shim"></script>
</head>

<body>
    <div class="container mx-auto">
        <header class="bg-purple-100 py-4 mb-4">Feather Example</header>
        <div class="border-2 p-4">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>

</html>