<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% rendersection title %} - Feather Example</title>

    <!-- 
        Evaluate Tailwind CSS classes.
        cf. https://github.com/tw-in-js/twind/discussions/161#discussioncomment-535632
    -->
    <script type="text/javascript" crossorigin="anonymous" src="https://unpkg.com/twind@0.16.9/twind.umd.js"> </script>
    <script type="text/javascript" crossorigin="anonymous"
        src="https://unpkg.com/twind@0.16.9/observe/observe.umd.js"> </script>
    <script type="text/javascript">
        twindObserve.observe(document.documentElement)
    </script>
    <!-- End of Twind script -->
</head>

<body>
    <div class="container mx-auto">
        <header 
            class="bg-purple-100 py-4 pl-4 mt-2 mb-4 border-4 border-purple-700 font-semibold text-3xl text-center"
            >Feather Example</header>
        <div class="border-2 p-4">
            {% renderbody %}
        </div>
        <footer
            class="pt-2 mt-2 text-gray-300 text-center"
        >
            <a target=_blank href="https://github.com/srid/Feather">Powered by Feather</a>
        </footer>
    </div>
</body>

</html>