{% layout '_layout.liquid' %}

<h1 class="text-3xl">Hello</h1>
<p>Welcome to Feather, <span class="font-bold">{{ UserData.Name }}</span>!</p>

<p class="text-gray-700">You are {{ UserData.Age }} years old.</p>

{% section title %} Index {% endsection %}
